<div class="max-w-prose text-sm text-[#003B6F] leading-relaxed">
  <p>
    Welcome. This web application reproduces much of the functionality of Epi Info 7's (for Windows)
    Dashboard Analysis tool. Its files and documentation may be viewed in its GitHub
    <a href="https://github.com/zfj4/EIAnalysis" target="_blank" rel="noopener noreferrer"
       class="text-[#318CE7] hover:underline">repository</a>.
       </p>
  <br>
  <p>
    Its statistical analyses are executed by the
    <a href="https://github.com/Epi-Info/epiinfo" target="_blank" rel="noopener noreferrer"
       class="text-[#318CE7] hover:underline">epiinfo</a> Python Package.
  </p>
  <br>
  <p>
    See <a href="https://github.com/zfj4/EIAnalysis/wiki" target="_blank" rel="noopener noreferrer"
           class="text-[#318CE7] hover:underline">here</a> for a tutorial and other examples.
  </p>
  <br>
  <p>
    Sample datasets, including the fictional Salmonellosis dataset used in the tutorial, may be downloaded from the
    <a href="https://github.com/zfj4/EIAnalysis/tree/main/sample_data" target="_blank" rel="noopener noreferrer"
       class="text-[#318CE7] hover:underline">sample_data</a> directory in the repository.
  </p>
  <br>
  <p>
    This is a beta product that is still under evaluation. Please compare any analysis results to
    those of other statistical analysis tools, such as Epi Info 7.
  </p>
  <br>
  <p>
    Epi Info 7 may still be downloaded and extracted from its
    <a href="https://github.com/Epi-Info/Epi-Info-Community-Edition" target="_blank" rel="noopener noreferrer"
       class="text-[#318CE7] hover:underline">code repository</a>.
  </p>
</div>
