EIAnalysis Single-Page Application

Tech Stack: HTMX, Django, PostgreSQL

Requirements:

Initial version (1.0) of the application shall meet the following requirements:
* This shall be a single-page application.
* User shall be able to navigate the local file system and load a JSON text data file into a list of dicts.
* User shall be able to select from a list of statistical analyses to run on the loaded data object (list of dicts).
* The list of statistical analyses shall initially contain just one analysis: Tables Analysis.
* Upon selection of Tables Analysis, the user shall be prompted to select one Outcome Variable and one or more Exposure Variables.
* Executing Tables Analysis shall run TablesAnalysis from the epiinfo package (https://github.com/Epi-Info/epiinfo) and present all results in well-organized tables.
* Tables Analysis results shall include a Summary Table at the top, above the per-variable contingency tables, showing one row per 2×2 exposure variable with the following columns: Variable Name, Odds Ratio (OR), ORLL, ORUL, Risk Ratio, RR LL, and RR UL. The Summary Table shall be initially sorted alphabetically (case-insensitive) by Variable Name. The user shall be able to click any column header to sort the table by that column; clicking the same header again shall reverse the sort direction.
* http://127.0.0.1:8000/ is taken so this application shall use a different localhost URL.
* The application shall be developed using Django and HTMX, with PostgreSQL as the database.

0.1 Requirements:
* Add Logistic Regression Analysis to the list of available analyses.
* Upon selection of Logistic Regression Analysis, the user shall be prompted to select one Outcome Variable and one or more Exposure Variables.
* User shall have the option to select a Match Variable for matched case-control analysis.
* User shall have the option to select two or more of the Exposure Variables as Interaction Variables.
* Executing Logistic Regression Analysis shall run LogisticRegression from the epiinfo package (https://github.com/Epi-Info/epiinfo) and present results in formats similar to those in the two logistic regression analyses in sample_data\Salmonellosis.html.

0.1.1 Requirements:
* Add Log-Binomial Regression Analysis to the list of available analyses.
* Its user interface shall be nearly identical to that of Logistic Regression Analysis, except that it shall not have a Match Variable option.
* Executing Log-Binomial Regression Analysis shall run LogBinomialRegression from the epiinfo package (https://github.com/Epi-Info/epiinfo) and present results in formats similar to those in the two log-binomial regression analyses in sample_data\Salmonellosis.html.
* Include comparing all calculations to those in the two log-binomial regression analyses in sample_data\Salmonellosis.html as part of testing and validation.

0.1.2 Requirements:
* Add Linear Regression Analysis to the list of available analyses.
* Place it second on the list of analyses, between Tables Analysis and Logistic Regression.
* Its user interface shall be identical to that of Log-Binomial Regression Analysis.
* Executing Linear Regression Analysis shall run LinearRegression from the epiinfo package (https://github.com/Epi-Info/epiinfo) and present results in a format similar to that in the two linear regression analyses in sample_data\Salmonellosis.html.
* Use BabyBloodPressure.json in sample_data to compute statistics to test against those in the two linear regression analyses in sample_data\Salmonellosis.html.

0.1.3 Requirements:
* Add Means Analysis to the list of available analyses.
* Place it second on the list of analyses, between Tables Analysis and Linear Regression.
* User shall be prompted to select a "Means of" variable and an optional "Cross-tabulate" variable.
* Executing Means Analysis shall run Means.Run from the epiinfo package (https://github.com/Epi-Info/epiinfo) and present results in a format similar to that in sample_data\Means.html.
* Use Oswego.json in sample_data to compute means of Age cross-tabulated by Ill and test the results against those in sample_data\Means.html.
* If no Cross-tabulate variable is selected, only the top "Descriptive Statistics" table shall be displayed, with a single row of statistics for the entire dataset.
* If a Cross-tabulate variable with more than two values is selected, the T-Test section of the output shall not be displayed.

0.1.3.1 Requirements:
* Clicking "EIAnalysis" in the header shall return the user to the initial screen where they can load a data file and select an analysis.

0.1.4 Requirements:
* Add Frequencies Analysis to the list of available analyses.
* Place it at the top of the list of analyses.
* User shall be prompted to select one or more "Frequency of" variables, one optional "Stratify by" variable, and one optional "Weight" variable.
* Executing Frequencies shall run Frequencies.Run from the epiinfo package (https://github.com/Epi-Info/epiinfo) and present results in a format similar to that in sample_data\Frequencies.html.
* Arguments to Frequencies.Run are the dataset (list of dicts), and a list of "Frequency of" variables.
* To set a Weight variable prior to Running, use Frequencies.weightVariable = 'weightvariable'.
* You shall write the stratification functionality, as the Frequencies class does not contain it.
* Use AgeWithCounts.json in sample_data (Frequency of Age; weightVariable='Count' to compute statistics to test against those in the weighted Frequency analysis in sample_data\Frequencies.html.

0.2.0 Requirements:
* Above the list of ANALYSES in the dark blue area on the left, add a MANAGEMENT section.
* Start the MANAGEMENT list with "Filter".
* Clicking "Filter" shall open the Filter Tool.
* The Filter Tool shall allow the user to select one of the variables in the data object.
* Upon selection of a variable, the Filter Tool shall present filtering options.
* For all variables these options shall include: is missing, is not missing, is equal to, is not equal to.
* If the selected variable is numeric, the user shall be given additional operator options: less than, less than or equal to, greater than or equal to, greater than.
* For all variables, if a comparison operator is chosen, the user shall be given an input field for typing or selecting the comparison value.
* For variables with five or fewer values, if "is equal to" or "is not equal to" is chosen, the user shall be given a list of possible values instead of an input field. Otherwise, the user shall be given an input text box for typing the comparison value.
* The Filter Tool shall contain a "Filter" button.
* After the Filter button is clicked, apply the filter to the working dataset and display the filter that has been applied, and count and re-display the number of rows in the filtered dataset.
* Analyses shall then run on the filtered dataset.
* Add "Clear Filters" below "Filter" in the MANAGEMENT list.
* Clicking "Clear Filters" shall remove all filters and restore the full unfiltered dataset.

0.2.0.2 Requirements:
* Multiple Filter Definitions are correctly combined with AND.
* Within each Filter Definition, add the functionality to add additional conditions.
* Additional conditions shall be executed with ORs within a Filter Definition.
* Place a button on the Filter Tool form that says "Additional Condition with Or".
* When clicked, this button will add another set of inputs to the Filter Tool.

0.3.0 Requirements:
* In the MANAGAMENT section, below "Clear Filters", add "Add/Update Variable".
* Clicking "Add/Update Variable" shall open the Add/Update Variable Tool.
* The Add/Update Variable Tool shall begin with a dropdown of assignment types.
* Label the dropdown "Assignment Type".
* The first row of the dropdown shall be "-- Select Assignment Type --".
* For 0.3.0, add one Assignment Type: "Difference between Two Dates".
* Upon selection of "Difference between Two Dates", the user shall be prompted to select:
* * Whether the difference should be in units of days, months, or years (with radio buttons).
* * The "Start Date" variable or literal value in MM/DD/YYYY format.
* * The "End Date" variable or literal value in MM/DD/YYYY format.
* After the user has made these selections, the Add/Update Variable Tool shall contain a text input for the name of the new variable to be created, and an "Add/Update Variable" button.
* When the Add/Update Variable button is clicked, if the new variable name does not already exist in the dataset, a new variable shall be created with the specified name and populated with the calculated values. If the new variable name already exists in the dataset, the existing variable shall be updated with the calculated values.
* Results shall be rounded down to the nearest integer.
* Strip time part from any date values that include time, so that the difference between 1/1/2020 11:00 and 1/2/2020 01:00 is one day, not zero days.
* If a date value cannot be parsed, the resulting difference for that row shall be set to missing/null.
* To test, use DOB in Salmonellosis.json as the Start Date and 05/05/2012 as the End Date to update the Age variable, which is missing for all but 10 rows.